# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Ignore built files
public/main.js
public/main.js.map

# Ignore storybook build files
storybook-static/

# Ignore editor settings
/.idea
/.vscode
